<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391426361878-q6l49b5jbb9ds4t7pkedg409qv05kool.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391426361878-q6l49b5jbb9ds4t7pkedg409qv05kool</string>
	<key>API_KEY</key>
	<string>AIzaSyCfEk-INk6O0nCSXu2HLmRDGjOJpF3oS0A</string>
	<key>GCM_SENDER_ID</key>
	<string>391426361878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>rnwardrobeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rnwardrobeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391426361878:ios:24f4a484c6ea87c7c38337</string>
</dict>
</plist>